<?xml version="1.0" encoding="UTF-8"?>
<suite name="Capstone Suite">
    <test name="Capstone Tests">
        <classes>
            <class name="tests.LoginPageTest" />
            <class name="tests.HotelBookingTest" />
            <class name="tests.SearchHotelPageTest"/>
            <class name="tests.SelectHotelPageTest"/>
            <class name="tests.BookHotelPageTest"/>
        </classes>
    </test>
</suite>